body {
  background-image: url('/images/background2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden
}

.shadow, .shadow2, .shadow3 {
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
  height: 40px;
  padding: 0;
  opacity: 0.6;
  position: absolute;
  width: 100%;
}

.miniLogo {
  display: inline-block;
  max-height: 1.8em;
  max-width: 1.8em;
  vertical-align: middle;
  margin-right: 0.4em;
  margin-left: 3em;
  opacity: 0.2;
  transition: opacity linear 0.5s;
}

a:hover .miniLogo {
  opacity: 0.5;
}

#logo {
  height: 72px;
  margin-right: 10px;
  margin-left: -84px;
  vertical-align: -12px;
}

#nav {
  background: #111;
  background-size: cover;
  color: #aaa;
  padding: 0 30px 0 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  text-align: right;
}

#nav p {
  padding: 0 30px 0 0;
  line-height: 36px;
}

#home {
  display: inline-block;
  float: left;
}

#home .miniLogo {
  vertical-align: -0.36em;
}

#nav h5 {
  color: white;
}

#circle {
  border: solid 1px white;
  border-radius: 35vw;
  width: 50vw;
  height: 50vw;
  padding: 5vw 5vw;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  overflow: hidden;
  margin: 25vh auto 3vh auto;
  transition: background-color linear 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
}

p#moreDetails {
  font-family: 'Josefin Sans';
  font-size: 2vw;
  text-align: center;
  color: white;
}

#circle p {
  font-family: 'Josefin Sans';
  font-weight: 200;
  font-size: 8vw;
  line-height: 7vw;
  margin-top: 3vw;
}

#circle p.small {
  font-weight: 300;
  font-size: 3vw;
  line-height: 3vw;
}

#circle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.bullets li:before {
  content: "»";
  margin: 0 0 0 0.91em;
}

.container .one-half.column {
  width: 460px;
}

.container.topRule {
  border-top: solid 1px #BBD;
  padding-top: 30px;
}

.container .one-quarter.column {
  width: 220px;
}

.fillWidth {
  width: 100%;
}

hr {
  border-color: rgba(0, 0, 0, 0.2);
}

pre {
  width: 420px;
  background-color: #113;
  color: #CCE;
  padding: 10px;
  margin: 0 0 20px 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}

code, pre {
  font-family: 'Fira Mono';
}

code {
  font-size: 90%;
}

#nav a, #nav a:visited {
  color: #888;
  transition: text-shadow linear 0.2s, color linear 0.2s;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;
}

#nav a:hover {
  color: white;
}

@media (max-height: 100vw) {
  
#circle {
  border: solid 1px white;
  border-radius: 35vh;
  width: 50vh;
  height: 50vh;
  padding: 5vh 5vh;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  overflow: hidden;
  margin: 25vh auto 3vh auto;
  transition: background-color linear 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
}

p#moreDetails {
  font-family: 'Josefin Sans';
  font-size: 2vh;
  text-align: center;
  color: white;
}

#circle p {
  font-family: 'Josefin Sans';
  font-weight: 200;
  font-size: 8vh;
  line-height: 7vh;
  margin-top: 3vh;
}

#circle p.small {
  font-weight: 300;
  font-size: 3vh;
  line-height: 3vh;
}

}
